<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brandeis.zhongzhongzhong.pocketguide" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Choose_Destination"
            android:label="@string/title_activity_choose__destination" >
            <intent-filter>
                <action android:name="com.brandeis.Choose_Destination"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Fill_Information"
            android:label="@string/title_activity_fill__information" >
            <intent-filter>
                <action android:name="com.brandeis.Fill_Information"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Confirmation_Page"
            android:label="@string/title_activity_confirmation__page" >
        </activity>
        <activity
            android:name=".Client_Chat"
            android:label="@string/title_activity_client__chat" >
        </activity>
        <activity
            android:name=".Pending"
            android:label="@string/title_activity_pending" >
        </activity>
        <activity
            android:name=".Pending_Detail"
            android:label="@string/title_activity_pending__detail" >
        </activity>
        <activity
            android:name=".Upcoming"
            android:label="@string/title_activity_upcoming" >
        </activity>
        <activity
            android:name=".Upcoming_Detail"
            android:label="@string/title_activity_upcoming__detail" >
        </activity>
        <activity
            android:name=".Previous"
            android:label="@string/title_activity_previous" >
        </activity>
        <activity
            android:name=".Previous_Detail"
            android:label="@string/title_activity_previous__detail" >
        </activity>
        <activity
            android:name=".Client_Chat_History"
            android:label="@string/title_activity_client__chat__history" >
        </activity>
        <activity
            android:name=".Client_Profile"
            android:label="@string/title_activity_client__profile" >
        </activity>
        <activity
            android:name=".Index_Page"
            android:label="@string/title_activity_index__page" >
        </activity>
    </application>

</manifest>
